In [1]:
import numpy as np
import pandas as pd
from data_anonymizer import DataAnonymizer

In [2]:
df = pd.read_csv('hospital.csv')

In [3]:
df.head()

,NRIC,Name,Gender,BloodType,Disease,Age,Zipcode,BMI,DateOfDiagnosis
0,T0581222F,Russell Waldbauer,M,O,Nipah,63,281223,28.7,2001-06-20
1,F0005772O,Latoya Brown,M,AB,Conjunctivitis,42,587904,37.2,2011-06-02
2,T7303748A,Robert Benthall,M,A,Typhoid,85,770807,27.0,1990-08-23
3,T6353952U,Pearl Almaraz,F,B,HIV/ AIDS,27,187483,31.2,2003-10-15
4,T0357152V,Jean Fulker,F,A,HIV/ AIDS,34,624914,36.2,2000-04-20

In [4]:
df.shape

(500, 9)

In [5]:
anonymizer = DataAnonymizer(df)

Auto Detecting all Data Properties...
Running Column Type Checker...
Running Information Type Checker...
Running Sensitivity Type Checker...
Constructing Properties Frame
Auto-Generated Properties Frame. To change a property, use the change_property method.

In [6]:
anonymizer.properties_frame

                   Column Type Information Type     Sensitivity Type
Column Name
NRIC             Unique/Sparse             NRIC    Direct Identifier
Name                    Others           Others        Non-Sensitive
Gender             Categorical           Others  Indirect Identifier
BloodType          Categorical           Others        Non-Sensitive
Disease                 Others           Others        Non-Sensitive
Age                 Continuous           Others  Indirect Identifier
Zipcode          Unique/Sparse           Others        Non-Sensitive
BMI                 Continuous           Others        Non-Sensitive
DateOfDiagnosis       Datetime           Others        Non-Sensitive

In [7]:
anonymizer.change_property_rowwise("Name", ["Others", "Others", "Direct Identifier"])
anonymizer.change_property_rowwise("Disease", ["Categorical", "Others", "Non Sensitive"])
anonymizer.change_property_rowwise("BloodType", ["Categorical", "Others", "Indirect Identifier"])
anonymizer.change_property_rowwise("Zipcode", ["Unique/Sparse", "Others", "Sensitive"])
anonymizer.change_property_rowwise("DateOfDiagnosis", ["Datetime", "Others", "Sensitive"])

                   Column Type Information Type     Sensitivity Type
Column Name
NRIC             Unique/Sparse             NRIC    Direct Identifier
Name                    Others           Others    Direct Identifier
Gender             Categorical           Others  Indirect Identifier
BloodType          Categorical           Others  Indirect Identifier
Disease            Categorical           Others  Indirect Identifier
Age                 Continuous           Others  Indirect Identifier
Zipcode          Unique/Sparse           Others            Sensitive
BMI                 Continuous           Others        Non-Sensitive
DateOfDiagnosis       Datetime           Others            Sensitive

In [9]:
anonymizer.get_mask_table()

                                     Transformer
Column Name
NRIC                                   Mask NRIC
Name                                Pseudonymise
Gender                                    Encode
BloodType                                 Encode
Disease                                   Encode
Age              Generalise (Numerical Bin Mean)
Zipcode                             Pseudonymise
BMI                                       Retain
DateOfDiagnosis     Generalise (Date Bin Median)

In [10]:
anonymizer.apply_masking()

,NRIC,Name,Gender,BloodType,Disease,Age,Zipcode,BMI,DateOfDiagnosis
0,*****222F,c6bb762107e2655ff62d1c3198b9150880b3ea9b6c59cd...,1,3,15,64.0,b38a8ddfd598443d2227ec5f06a02918c638966cc05740...,28.7,2001-05-27 00:00:00
1,*****772O,4a85a5719f90e65700488aa0b3fc69d49220e01aba52eb...,1,1,5,42.0,e6519623a09890ee26d25b588e2a6375e4a434143255cf...,37.2,2011-01-27 00:00:00
2,*****748A,1bb7f6fd5f7f4ddd3986b5ab8b882ecf2d8cb4fb5156f2...,1,0,22,86.0,f0f28ae2e2fddee810526aca6b73c62641fe117ac6f499...,27.0,1991-09-19 12:00:00
3,*****952U,064acf7f1bc6cb77a6aded7fd80187e52c45e90881da79...,0,2,9,28.0,f7847bc48c45802718eecacbdb7bbf54f518b9ce87e062...,31.2,2004-08-16 12:00:00
4,*****152V,124f7b7c5237a6dc908a07b6450ac564a17622505816d0...,0,0,9,36.0,0f8792ba6b3bf71a749ed17d1bc9a71bb41f0028b6a12f...,36.2,2001-05-27 00:00:00
...,...,...,...,...,...,...,...,...,...
495,*****191Y,0cd5c72f4467c420960babbe98bc3a63156c70c2bc8f19...,0,2,19,42.0,524e207e2005f2d8413a8e7d18a4c14fd07700eafda93d...,38.8,2007-11-06 12:00:00
496,*****936K,32e3b7ecb62394f8c506b534587e50bf5a86a3d3abf199...,1,2,9,72.0,9318e7d3daee53867f14c30c96a31fe16a9a9d75484d54...,27.0,2011-01-27 00:00:00
497,*****134H,36fe77907746d69db0ed50a02ad2d1dcf9a898290b7eec...,1,0,17,86.0,b6025d6a7237b5fac44aef1dcfafc7fe6a23104a960b72...,35.5,1994-12-15 12:00:00
498,*****729M,6ca749259e9f85d188ca754bc36c6a84066c69400a5544...,1,0,16,86.0,617a2a5eb68fdfebc6001ed2d49d90dad790e3fb56cd8a...,34.3,2020-09-28 00:00:00
499,*****810B,b6002963ab49e38a1b59845b0823aa9a3c8a68b3afea4f...,1,1,17,36.0,604a31cbd4430f26789d996d79c644e16699140e8aa942...,33.1,2020-09-28 00:00:00

In [11]:
anonymizer.get_re_identification_table()

c:\Users\User\Desktop\SynPiper\anonymizer\data_anonymizer.py:186: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_duplicate_rows.loc[:, "count"] = 1

     Gender  BloodType  Disease   Age  count  reidentifiability proba
0         1          2        8  50.0      4                25.000000
1         1          0       10  78.0      3                33.333333
2         0          3       21  42.0      3                33.333333
3         1          0       17  78.0      3                33.333333
4         1          0       18  42.0      3                33.333333
..      ...        ...      ...   ...    ...                      ...
495       0          2       19  42.0      1               100.000000
496       1          2        9  72.0      1               100.000000
497       1          0       17  86.0      1               100.000000
498       1          0       16  86.0      1               100.000000
499       1          1       17  36.0      1               100.000000

[439 rows x 6 columns]

In [12]:
anonymizer.unique_row_proportion()

77.4