In [1]:
import pandas as pd
from auto_detect import DataAutoDetecter
from masking_funcs import Masker
from data_anonymizer import DataAnonymizer

In [2]:
df = pd.read_csv('adult.csv')

In [5]:
from masking_funcs import Masker
datamasker = Masker()
date_col = pd.Series(['2023-01-05', '2023-02-15', '2023-03-20', '2023-04-25', '2023-05-30'])
generalise_date_bin(date_col)

SyntaxError: invalid syntax (2115001920.py, line 2)

In [ ]:
fakenric = pd.Series(range(1000000, 1048843)).map(lambda x : "T" + str(x) + "Z")
fakephone = pd.Series(range(90000001, 90048843))
df["NRIC"] = fakenric
df["Phone Number"] = fakephone

In [ ]:
anonymizer = DataAnonymizer(df)

Auto Detecting all Data Properties...
Running Column Type Checker...
Running Information Type Checker...
Running Sensitivity Type Checker...
Constructing Properties Frame
Auto-Generated Properties Frame. To change a property, use the change_property method.

In [ ]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,NRIC,Phone Number
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,T1000000Z,90000001
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,T1000001Z,90000002
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,T1000002Z,90000003
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,T1000003Z,90000004
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,T1000004Z,90000005

In [ ]:
anonymizer.properties_frame

                   Column Type Information Type   Sensitivity Type
Column Name
age                 Continuous           Others      Non-Sensitive
workclass          Categorical           Others      Non-Sensitive
fnlwgt              Continuous           Others      Non-Sensitive
education          Categorical           Others      Non-Sensitive
educational-num     Continuous           Others      Non-Sensitive
marital-status     Categorical           Others      Non-Sensitive
occupation         Categorical           Others      Non-Sensitive
relationship       Categorical           Others      Non-Sensitive
race               Categorical           Others      Non-Sensitive
gender             Categorical           Others      Non-Sensitive
capital-gain        Continuous           Others      Non-Sensitive
capital-loss        Continuous           Others      Non-Sensitive
hours-per-week      Continuous           Others      Non-Sensitive
native-country     Categorical           Others      Non-Sensitive
income             Categorical           Salary          Sensitive
NRIC             Unique/Sparse             NRIC  Direct Identifier
Phone Number     Unique/Sparse     Phone Number          Sensitive

In [ ]:
anonymizer.properties_frame

                   Column Type Information Type   Sensitivity Type
Column Name
age                 Continuous           Others      Non-Sensitive
workclass          Categorical           Others      Non-Sensitive
fnlwgt              Continuous           Others      Non-Sensitive
education          Categorical           Others      Non-Sensitive
educational-num     Continuous           Others      Non-Sensitive
marital-status     Categorical           Others      Non-Sensitive
occupation         Categorical           Others      Non-Sensitive
relationship       Categorical           Others      Non-Sensitive
race               Categorical           Others      Non-Sensitive
gender             Categorical           Others      Non-Sensitive
capital-gain        Continuous           Others      Non-Sensitive
capital-loss        Continuous           Others      Non-Sensitive
hours-per-week      Continuous           Others      Non-Sensitive
native-country     Categorical           Others      Non-Sensitive
income             Categorical           Salary          Sensitive
NRIC             Unique/Sparse             NRIC  Direct Identifier
Phone Number     Unique/Sparse     Phone Number          Sensitive

In [ ]:
from auto_detect import *
emails = pd.Series(["awsdasd@gmail.com", "eafeqwfew@yahoo.com"])
email_checker(emails)

True

In [ ]:
anonymizer.change_property('educational-num', 'sensitivity_type', 'Sensitive')

                   Column Type Information Type   Sensitivity Type
Column Name
age                 Continuous           Others      Non-Sensitive
workclass          Categorical           Others      Non-Sensitive
fnlwgt              Continuous           Others      Non-Sensitive
education          Categorical           Others      Non-Sensitive
educational-num     Continuous           Others          Sensitive
marital-status     Categorical           Others      Non-Sensitive
occupation         Categorical           Others      Non-Sensitive
relationship       Categorical           Others      Non-Sensitive
race               Categorical           Others      Non-Sensitive
gender             Categorical           Others      Non-Sensitive
capital-gain        Continuous           Others      Non-Sensitive
capital-loss        Continuous           Others      Non-Sensitive
hours-per-week      Continuous           Others      Non-Sensitive
native-country     Categorical           Others      Non-Sensitive
income             Categorical           Salary          Sensitive
NRIC             Unique/Sparse             NRIC  Direct Identifier
Phone Number     Unique/Sparse     Phone Number          Sensitive

In [ ]:
anonymizer.change_property('age', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('gender', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('native-country', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('workclass', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('education', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('education', 
                        'column_type',
                        'Categorical')

anonymizer.change_property('capital-gain', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('income', 
                        'sensitivity_type',
                        'Indirect Identifier')

anonymizer.change_property('capital-loss', 
                        'sensitivity_type',
                        'Indirect Identifier')

                   Column Type Information Type     Sensitivity Type
Column Name
age                 Continuous           Others  Indirect Identifier
workclass          Categorical           Others  Indirect Identifier
fnlwgt              Continuous           Others        Non-Sensitive
education          Categorical           Others  Indirect Identifier
educational-num     Continuous           Others            Sensitive
marital-status     Categorical           Others        Non-Sensitive
occupation         Categorical           Others        Non-Sensitive
relationship       Categorical           Others        Non-Sensitive
race               Categorical           Others        Non-Sensitive
gender             Categorical           Others  Indirect Identifier
capital-gain        Continuous           Others  Indirect Identifier
capital-loss        Continuous           Others  Indirect Identifier
hours-per-week      Continuous           Others        Non-Sensitive
native-country     Categorical           Others  Indirect Identifier
income             Categorical           Salary  Indirect Identifier
NRIC             Unique/Sparse             NRIC    Direct Identifier
Phone Number     Unique/Sparse     Phone Number            Sensitive

In [ ]:
anonymizer.get_mask_table() # autosuggest type of masking for each column (in order of priority) 
# a dictionary returned key = col_name,  val = recommended masking function

                                Transformer
Column Name
age              Generalise (Numerical Bin)
workclass                            Encode
fnlwgt                               Retain
education                            Encode
educational-num  Generalise (Numerical Bin)
marital-status                       Retain
occupation                           Retain
relationship                         Retain
race                                 Retain
gender                               Encode
capital-gain     Generalise (Numerical Bin)
capital-loss     Generalise (Numerical Bin)
hours-per-week                       Retain
native-country                       Encode
income           Generalise (Numerical Bin)
NRIC                              Mask NRIC
Phone Number                   Pseudonymise

In [ ]:
anonymizer.list_allowed_transformations('fnlwgt')

['Retain',
 'Generalise (Numerical Bin)',
 'Generalise (Numerical Bin Mean)',
 'Surpress',
 'Pseudonymise',
 'Full Masking',
 'Transpose',
 'Shuffle']

In [ ]:
anonymizer.change_masking(colname = 'age', masking_name = "Generalise (Numerical Bin Mean)") #masking algo
anonymizer.change_masking(colname = 'marital-status', masking_name = "Full Masking")
anonymizer.change_masking(colname = 'fnlwgt', masking_name = "Pseudonymise")
anonymizer.change_masking(colname = 'race', masking_name = "Shuffle")
anonymizer.change_masking(colname = 'hours-per-week', masking_name = "Generalise (Numerical Bin Mean)")
anonymizer.change_masking(colname = 'NRIC', masking_name = "Full Masking")

                                     Transformer
Column Name
age              Generalise (Numerical Bin Mean)
workclass                                 Encode
fnlwgt                              Pseudonymise
education                                 Encode
educational-num       Generalise (Numerical Bin)
marital-status                      Full Masking
occupation                                Retain
relationship                              Retain
race                                     Shuffle
gender                                    Encode
capital-gain          Generalise (Numerical Bin)
capital-loss          Generalise (Numerical Bin)
hours-per-week   Generalise (Numerical Bin Mean)
native-country                            Encode
income                Generalise (Numerical Bin)
NRIC                                Full Masking
Phone Number                        Pseudonymise

In [ ]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,NRIC,Phone Number
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,T1000000Z,90000001
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,T1000001Z,90000002
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,T1000002Z,90000003
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,T1000003Z,90000004
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,T1000004Z,90000005

In [ ]:
anonymizer.apply_masking()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,NRIC,Phone Number
0,28.0,4,dc6104e6b688df78ba4abf3060d43758005e516e0fef2e...,1,"(6.0, 7.0]",-------------,Machine-op-inspct,Own-child,White,1,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,577fd6d692b3e9545dfe3add911860a7aa4090a3f13313...
1,36.0,4,a4bce49b545d6ea7b117a3897c12d372ce9d3c7b64f34f...,11,"(8.0, 10.0]",------------------,Farming-fishing,Husband,White,1,"(-100.0, 10000.0]","(-4.0, 436.0]",45.0,39,None,---------,b079a62cbbf2c9f94dfbeb156313bfeb07d28dc2320a0b...
2,28.0,2,8bf17dc8d786c16888079e8d241e17154a61ed087b4002...,7,"(12.0, 13.0]",------------------,Protective-serv,Husband,White,1,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,fda33a9c13dbc895af88a02e1379a6662278559d023f54...
3,42.0,4,1a561f87377d353e18f915aaddf0fcfcc742b61f035355...,15,"(8.0, 10.0]",------------------,Machine-op-inspct,Husband,White,1,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,ea1aa254a2324190cf46f60502843b79c6c2e1fb35f16a...
4,20.0,0,45abd026339c172e3feafc94980cf76b4052b03ad4af69...,15,"(8.0, 10.0]",-------------,?,Own-child,White,0,"(-100.0, 10000.0]","(-4.0, 436.0]",26.0,39,None,---------,391f891c420f2d036612456ca8ffe5e64ac4fa90685d2c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,28.0,4,6cbd92497439d33e07977a21a6c4fec6e8ccf8773a7bd7...,7,"(12.0, 13.0]",------------------,Tech-support,Wife,Black,0,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,e67eb10417f70174abe8844d4514440f2591948fabe30a...
48838,42.0,4,50df42d528789d626a7f92f2da026bcf291134abd0348f...,11,"(8.0, 10.0]",------------------,Machine-op-inspct,Husband,White,1,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,f7324e03aaa656f7e349e5ba156d9055bd4537a1d88058...
48839,58.0,4,3439c79cef1cd8b692a298022db015dc5ae4334616259c...,11,"(8.0, 10.0]",-------,Adm-clerical,Unmarried,Black,0,"(-100.0, 10000.0]","(-4.0, 436.0]",35.0,39,None,---------,718033caf60815eb08e1fa52ba3822c946c5ee6f9e3001...
48840,20.0,4,a5ca8ce11e945b3866bf9a6dc8a8a19d050b65a8d7b779...,11,"(8.0, 10.0]",-------------,Adm-clerical,Own-child,Black,1,"(-100.0, 10000.0]","(-4.0, 436.0]",16.0,39,None,---------,5f594f71ce839c6d9f8f8b177496c7a7113070da631f2d...
48841,50.0,5,7d516f5db354057bd1a115b41a4ac525c3cc569e6c62ca...,11,"(8.0, 10.0]",------------------,Exec-managerial,Wife,White,0,"(10000.0, 20000.0]","(-4.0, 436.0]",35.0,39,None,---------,1d8ec00af205b52f194adc9fe1a458846a9203842ea98c...